*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

article{
    background-color: antiquewhite;
   /* display: grid;  teksten forflytter seg på siden, ved responsiv */
}

.main-header{
    min-height: 55vh;
    display: flex; /* overskriften blir midtstilt og responsiv  */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.main-header h1{
    font-size: 78px;
    font-family: 'Times New Roman', Times, serif;

}

.first-picture-row img{
    height: 20rem; 
    object-fit: cover; /* for å unngå å strekke bilde, beskjærer bilde*/ 
}

.second-picture-row img{
    height: 15rem; 
    object-fit: cover;
}

.third-picture-row img{
    height: 25rem; 
    object-fit: cover;
}

.gallery{
     width: 100%; 
    /* max-width: 90rem;  */
    margin: auto;
    margin-top: cover;
    
    background-color: rgb(167, 106, 26);

    margin-bottom: 4rem;
    margin-top:3rem;

    padding: 1rem;
    
 }

     /* display: grid; 

    grid-template-columns: 3fr 1fr 3fr;

    grid-template-areas: 'first-picture-row'
                         'second-picture-row'
                         'third-picture-row';

}


.first-picture-row{

} */



.container{
    width: 90%;
    max-width: 80rem; 
    margin: auto;
    margin-top: cover;
}  

.subheading{
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 36px;
margin-bottom: 4rem;
background-color: aqua;
}

.bold{
    font-weight: 700;
}

.article-body p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 35px;
    background-color: cadetblue;
}

.article-body b{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 35px;
}

/* img#lekeplass-dal-600x421 {
    width: 600px;
    height: 421px;
}
img#lekeplass-fjell-543x421 {
    width: 543px;
    height: 421px;
}
 */


     