:root {
  --clr-primary-900: hsl(0, 0%, 100%);
  --clr-primary-800: hsl(0, 0%, 90%);
  --clr-primary-800: hsl(0, 0%, 80%);
  --clr-primary-800: hsl(0, 0%, 75%);
  --clr-primary-700: hsl(0, 0%, 70%);
  --clr-primary-600: hsl(0, 0%, 60%);
  --clr-primary-500: hsl(0, 0%, 50%);
  --clr-primary-400: hsl(0, 0%, 40%);
  --clr-primary-300: hsl(0, 0%, 30%);
  --clr-primary-200: hsl(0, 0%, 20%);
  --clr-primary-100: hsl(0, 0%, 10%);
  --clr-primary-100: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .nav-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 55px;
  padding-bottom: 55px;
} 


h1 {
width: 30vw;
font-size: 35px; 
text-align: right;
font-family: "Times New Roman", Times, serif;

}
.align-area-end{
  align-self: end;
  justify-self: end;
}

h2{
width: 40vw;
font-size: 45px; 
font-family: "Times New Roman", Times, serif;

}


.border-h1{
  width: 30vw;
  border: 1px solid #4C4C4C;
}

.border-h2{
  width: 40vw;
  border: 1px solid #F59331;
}

img {
  max-width: 100%;
} 

/*header*/

/*images text style*/

figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

cite {
  color: var(--clr-primary-300);
}

.font-color {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

a:visited{
  color: var(--clr-primary-100)
}

a:link{
  color: var(--clr-primary-100);
}

a:hover{
  color: var(--clr-primary-300);
}

/*images style*/

figure.fig-margin {
  margin-bottom: 1rem;
}

.first-picture-row { /* første to bildene*/
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-picture-row img {
  height: 20rem;
  object-fit: cover; /* for å unngå å strekke bilde, beskjærer bilde*/
}


.second-picture-row { /*andre rad, to bilder*/
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.second-picture-row img {
  height: 20rem;
  object-fit: cover;
  margin-top: 1rem;
}

.third-picture-row { /*tredje rad tre bilder*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.third-picture-row img {
  height: 25rem;
  object-fit: cover;
  margin-top: 1rem;
}

.main-container { /*for hele siden? både desktop og mobil*/
  max-width: 80rem;
  width: 90%; /*denne la jeg til etter tilbakemeldig*/
  margin: auto;
  margin-top: cover;
}

/*text container*/

.article-container{ /*for desktop*/
  margin: auto; 
 max-width: 50ch; 
}

.line-heigt {
  margin-bottom: 1.5rem; 
}

.line-feed {
  display: block;
} 

p.ingress {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; 
  margin-bottom: 4rem;
  color: var(--clr-primary-300); 
  margin-top: 4rem;
}

.byline {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

p.bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
} 

/*large-image pages*/

.top-right-button {
  position: absolute; /* kan flytte den i forhold til diven over */
  top: 0.5rem;
  right: 1rem;
}

.large-image-container {
  position: relative; /* legger seg som standard */
  text-align: center;
}
 .large-image-container figcaption
{
    margin-left: 1rem;
    margin-right: 1rem;
} 

.footer-container{
  padding:7px 0px 0px 20px;
  background-color: hsl(0, 0%, 20%);
  color:hsl(0, 0%, 100%);
  height: 30px;
  text-align: center;

  
}

article{
  margin-top: 2rem;
}


@media screen and (min-width: 781px) {
    /*desktop*/

    .main-header {
        display: grid;
        width: 100%;
        grid-template-areas: "head1 head2 head3"
                             "head4 head5 head6"
                             "head7 head8 head9";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 2fr;
      
      }
      
      .main-header > .head1 {
          grid-area: head1;
          text-align: right;
          align-self: end;
      }
      
      .main-header > .head6 {
          grid-area: head6;
          text-align: left;
      
      }
      
      .main-header > .head8 {
          grid-area: head8;
          text-align: center;

      }
      
  .large-image img {
    max-height: 90vh; /* 90% av skjerm høyden */
    max-width: auto;
    min-width: none;
  }

  .desktop-size-box {
    padding-top: 1rem;
    width: fit-content; /*diven blir like bred som innholdet i boksen */
    display: block;
    margin-left: auto; /*midtsjustert*/
    margin-right: auto;
  }

  .top-right-button {
    top: 2rem;
  }

}
@media only screen and (max-width: 780px) {
  /*mobil og ipad*/ 
  article{
    margin-top: 0rem;
  }

  .nav-container{
    display: inline;
    padding-top: 55px;
    padding-bottom: 55px;
  } 

  .first-picture-row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .second-picture-row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .third-picture-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .first-picture-row img {
    height: 16rem;
    margin-top: 1rem;
  }

  .second-picture-row img {
    height: 16rem;
  }

  .third-picture-row img {
    min-height: 340px;
    max-width: 350px;
  }


  h1 {
    width: 100vw;
    font-size: 35px; 
    text-align: left;
    margin-left: 5vw;
    }
    
    h2{
    width: 100vw;
    font-size: 45px;
    margin-left: 5vw;
    margin-bottom: 2rem;
    }
    
    .border-h1{
      width: 100vw;
      border: 1px solid #4C4C4C;
    }
    
    .border-h2{
      width: 50vw;
      border: 0px solid #F59331;
    }
}
